@using Capstone_Xavier.Models
@model CharacterModel
@{
    ViewBag.Title = "UpdateCharacter";
}
<div class="row" style="margin-top: 3%">
    <div class="col-md-4 ml-md-auto d-flex justify-content-center">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-md-4 " id="menu-button-style">
        <div class="row">
            <div class="row">
                <div class="nav-side" id="user-menu-button" style="margin-top: 3%;">
                    <div class="dropdown">
                        <button onclick="dropDown()" class="dropBtn">More</button>
                        <div id="myDropdown" class="dropdown-item">
                            <a onclick="location.href='@Url.Action("Users", "Home")'">User Home</a>
                            <a onclick="location.href='@Url.Action("UserInfo", "User")'">Profile</a>
                            @{
                                string role = Session["Role"].ToString();

                                if (role == "1")
                                {
                                    <a onclick="location.href='@Url.Action("Admin", "Admin")'">Admin</a>
                                }
                                else if (role == "3")
                                {
                                    <a onclick="location.href='@Url.Action("Gamemaster", "Admin")'">GameMaster</a>
                                }
                            }
                            @*<a>@Html.ActionLink("FAQS", "FAQS", "Home")</a>*@
                            <a onclick="location.href='@Url.Action("Logout", "Home")'">Logout</a> @*this makes no extra spaces while @Html.ActionLink creates spaces*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center" id="content">
    <div class="row justify-content-center">
        @if (Model.alertMessage != "" && Model.alertMessage != null)
        {
            <div class="alert alert-success" role="alert">
            @Model.alertMessage
            </div>
        }
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="info-box" style="position:static;margin-bottom:2%;">
            <div class="row">
                <div class="col-12">
                    <label>Name</label>
                </div>
                <div class="col-12">
                    <p class="c-info">@Model.name</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Class</label>
                </div>
                <div class="col-12">
                    <p class="c-info">@Model.className</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Level</label>
                    <p class="c-info">@Model.level</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Experience</label>
                    <p class="c-info"> @Model.xp / @Model.maxXp</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">

        @using (Html.BeginForm("UpdateCharacterInfo", "User", Model))
        {
            <div class="row">

                @*<div class="nav-side2">*@
                @*<div class="input-list">*@
                @*<div class="input">*@
                <div class="col-12">
                    <label>Character Name</label>
                </div>
                <div class="col-12">
                    @*<span class="icon-input"></span>*@
                    @Html.EditorFor(CharacterModel => CharacterModel.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name" } })
                    @Html.ValidationMessageFor(CharacterModel => CharacterModel.name, null, new { @class = "validation" })
                </div>

                @*<br>*@
                @*<div class="input">*@

                <div class="col-12">
                    <label>Class</label>
                </div>

                <div class="col-12">
                    @*<span class="icon-input"></span>*@
                    @Html.DropDownListFor(Model => Model.classID, new SelectList(Model.classes, "classID", "className"), new { @id = "classID", @class = "form-control" })
                </div>
                @*</div>*@
                @*</div>*@
                <div class="col-12" style="margin-top:2%;">
                    <button type="submit" class="btn-user" onclick="">Submit</button>
                </div>
                @*</div>*@
                @*</div>*@
            </div>

        }

    </div>
    <div class="row justify-content-center">
        <button class="btn-user" style="margin-top: 1%" onclick="location.href='@Url.Action("Users", "Home")'">Go back to User Home page</button>
    </div>
</div>
