@using Capstone_Xavier.Models

@model UserModel

@{
    ViewBag.Title = "Profile";
}
<!--<div class="container"--> @*style="height: 15vw;"*@<!-->-->
    <div class="row">
        <div class="col-md-4 ml-md-auto d-flex justify-content-center">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-md-4 d-flex justify-content-center" id="menu-button-style">
            <div class="nav-side">
                <div class="dropdown">
                    <button onclick="dropDown()" class="dropBtn">More</button>
                    <div id="myDropdown" class="dropdown-item">
                        <a onclick="location.href='@Url.Action("Users", "Home")'">User Home</a>
                        @{
                            string role = Session["Role"].ToString();

                            if (role == "1" || role == "2")
                            {
                                <a onclick="location.href='@Url.Action("Admin", "Admin")'">Admin</a>
                            }
                        }
                        @*<a href="#">@Html.ActionLink("FAQS", "FAQS", "Home")</a>*@
                        <a onclick="location.href='@Url.Action("Logout", "Home")'">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        @*<br>*@
    </div>
    <div class="row justify-content-center" id="content">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="info-box" @*style="top: 4vw; height: 15vw;"*@>
                <div class="row" id="info-box-rows">
                    <label>Name</label>
                    <p class="c-info">@Model.username</p>
                </div>
                <div class="row"  id="info-box-rows">
                    <label>Email</label>
                    <p class="c-info">@Model.email</p>
                </div>
                <div class="row"  id="info-box-rows">
                    <label>Password</label>
                    <p class="c-info">@Model.password</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            @using (Html.BeginForm("UserInfo", "User", Model))
            {
                <div class="nav-side" style="bottom: 2vw;">
                    <div class="input-list">
                        <div class="input">
                            <label>Username</label>
                            @Html.EditorFor(UserModel => UserModel.username, new { htmlAttributes = new { @id = "edit-text-field", @class = "form-control", @placeholder = "Enter new username" } })

                        </div>
                        <br>
                        <div class="input">
                            <label>Email</label>
                            @Html.EditorFor(UserModel => UserModel.email, new { htmlAttributes = new { @id = "edit-text-field", @class = "form-control", @placeholder = "Enter New Email" } })

                        </div>
                        <br>
                        <div class="input">
                            <label>Password</label>
                            @Html.EditorFor(UserModel => UserModel.password, new { htmlAttributes = new { @id = "edit-text-field", @class = "form-control", @placeholder = "Enter New Password" } })

                        </div>
                        <br>
                        <div class="input">
                            <label>Confirm Password</label>
                            @Html.EditorFor(UserModel => UserModel.confirmPassword, new { htmlAttributes = new { @id = "edit-text-field", @class = "form-control", @placeholder = "Enter New Password" } })

                        </div>
                    </div>
                    <button type="submit" class="btn-user" onclick="">Submit</button>
                </div>

            }
        </div>
    </div>
@*</div>*@




