@using Capstone_Xavier.Models

@model List<CharacterModel>

@{
    ViewBag.Title = "User";
}


<h2>@ViewData["Title"]</h2>

<div class="nav-side">
    <div class="dropdown">
        <button onclick="dropDown()" class="dropBtn">More</button>
        <div id="myDropdown" class="dropdown-item">
            <a onclick="location.href='@Url.Action("UserInfo", "User")'">Profile</a>
            @{
                string role = Session["Role"].ToString();

                if (role == "1")
                {
                    <a onclick="location.href='@Url.Action("Admin", "Admin")'">Admin</a>
                }
                else if (role == "3")
                {
                    <a onclick="location.href='@Url.Action("Gamemaster", "Admin")'">GameMaster</a>
                }
            }
            @*<a>@Html.ActionLink("FAQS", "FAQS", "Home")</a>*@
            <a onclick="location.href='@Url.Action("Logout", "Home")'">Logout</a> @*this makes no extra spaces while @Html.ActionLink creates spaces*@
        </div>
    </div>
</div>
<br>


<div class="list">

    @foreach (CharacterModel ch in Model)
    {
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <div class="col-sm-6">
                <div class="list-item-character">
                    <p onclick="location.href='@Url.Action("Game", "Game", ch)'" style="cursor: pointer">@ch.name</p>
                    <h6 class="sub-num">@ch.level</h6>
                    <button class="btn-change" id="@ch.id" onclick="location.href='@Url.Action("UpdateCharacter", "User", ch)'"></button>
                    <button class="btn-remove" id="CharacterRemoveButton" onclick="DeleteCharacterAlert('@ch.name')"></button> @*onclick="location.href='@Url.Action("RemoveCharacter", "User", ch)'*@
                </div>
                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                    <div class="info" style="margin-left: 2%;">@ch.className</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="info">
                    Health: @ch.health / @ch.maxHP
                    <br>
                    Xp: @ch.xp / @ch.maxXp
                    <br>
                    Gold: @ch.gold
                </div>
            </div>
        </div>
        <hr>
    }
</div>

<div id="deleteAlert" style="display: none; position: fixed; right: 40vw; top: 17vw; font-size: 1.5rem; width: fit-content; padding: 2%; background-color: palegoldenrod; background-image: linear-gradient(#ee3f3f, #961111); border-radius: 12px; ">
    
</div>

<div>
    <button class="btn-user" id="User" onclick="location.href='@Url.Action("createCharacter", "User", null)'">Create Character</button>
    <label style="position: absolute; top:20vw; right:25vw;">Click the character name to play!</label>
</div>

<script type="text/javascript">
    function DeleteCharacterAlert(name) {
        $.ajax({
            url: "../../User/DeleteAlert",
            type: "Post",
            data: { name: name },
            cache: false,
            async: true,
            success: function (data) {
                var alert = document.getElementById("deleteAlert");
                /*console.log("deleteAlert");*/
                alert.style.display = "inline-block";
                alert.innerHTML = data;
                console.log(data);
            }
        });

    }

    function cancelDelete() {
        var alert = document.getElementById("deleteAlert");
        console.log(alert.innerHTML);
        alert.style.display = "none";

    }
</script>

